<p id="notice"><%= notice %></p>
<span style="display:inline-block"><%= link_to "Search by File ", "modfiles" %></span>
<span style="display:inline-block"><%= link_to "Search by Author", "searches" %></span>

<h1>Search by Comments</h1>

<%= form_tag commits_path, :method => 'get' do %>
	<%= text_field_tag :search_c, params[:search_c] %>
	<%= submit_tag "SEARCH" %>
 <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>sha1 </th>
      <th>author </th>
      <th>comment </th>
      <th>Date </th>
      <th>Number of Files </th>
    </tr>
  </thead>

  <tbody>
    <% if @comment.nil? %>

    <% else %>
	    <% @comment.each do |comment| %>
	      <tr>
                <td><%= comment.sha1 %></td>
		<td><%= comment.author %></td>
		<td><%= comment.comment %></td>
		<td><%= comment.date %></td>
		<td><%= comment.file %></td>		
	      </tr>
	    <% end %>
    <% end %>
  </tbody>
</table>



