<p id="notice"><%= notice %></p>

<h1>Show</h1>

<table class="table table-list">
<thead>
  <tr>
    <tr>
      <th>Sha1</th>
      <th>Author</th>
      <th>Date</th>
      <th>Comment</th>
    </tr>
  </tr>
</thead>
<tbody>
    <% if @commit.search_commits.empty? %>
	<h3>No records found</h3>	
    <% else %>
    <% @commit.each do |commit| %>
      <tr>
        <td><%= commit.sha1 %></td>
        <td><%= commit.author %></td>
        <td><%= commit.date %></td>
        <td><%= commit.comment %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
</table>


