<p id="notice"><%= notice %></p>
<span style="display:inline-block"><%= link_to "Search by File ", "modfiles" %></span>
<span style="display:inline-block"><%= link_to "Search by Comment ", "commits" %></span>

<h1>Search by Author</h1>

<%= form_tag searches_path, :method => 'get' do %>
	<%= text_field_tag :search_a, params[:search_a] %>
	<%= submit_tag "SEARCH" %>
 <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Author </th>
      <th>Files </th>
      <th>Number of Commit times </th>
    </tr>
  </thead>

  <tbody>
    <% if @author.nil? %>

    <% else %>
	    <% @author.each do |author| %>
	      <tr>
		<td><%= author.author %></td>
		<td><%= author.file %></td>
		<td><%= author.t %></td>		
	      </tr>
	    <% end %>
    <% end %>
  </tbody>
</table>



