<p id="notice"><%= notice %></p>
<span style="display:inline-block"><%= link_to "Search by Comment ", "commits" %></span>
<span style="display:inline-block"><%= link_to "Search by Author", "searches" %></span>

<h1>Search by File</h1>
 <%= form_tag modfiles_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "SEARCH" %>
 <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sha1 </th>
      <th>Author</th>
      <th>Comment</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% if @modfiles.nil? %>

    <% else %>
	    <% @modfiles.each do |modfile| %>
	      <tr>
		<td><%= modfile.sha1 %></td>
		<td><%= modfile.author %></td>
		<td><%= modfile.comment %></td>
		<td><%= modfile.date %></td>
	      </tr>
	    <% end %>
    <% end %>
  </tbody>
</table>


