<p id="notice"><%= notice %></p>

<h1>Listing Modfiles</h1>

<table>
  <thead>
    <tr>
      <th>Modfile</th>
      <th>Sha1</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modfiles.each do |modfile| %>
      <tr>
        <td><%= modfile.modfile %></td>
        <td><%= modfile.sha1 %></td>
        <td><%= modfile.file %></td>
        <td><%= link_to 'Show', modfile %></td>
        <td><%= link_to 'Edit', edit_modfile_path(modfile) %></td>
        <td><%= link_to 'Destroy', modfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modfile', new_modfile_path %>
